<!doctype html>
<html ng-app="Weather">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Weather Station</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <!-- Get the normalize.css -->
    <link rel="stylesheet" type="text/css" href="node_modules/normalize.css">
    <!-- Weather Icons -->
    <link rel="stylesheet" type="text/css" href="assets/css/weather-icons.min.css">
</head>
<body ng-controller="weather">
    <div class="container-fluid">

        <!-- Jumbotron Header -->
        <div class="row">

            <div class="jumbotron text-center">
                <div class="row">
                    <h1><i class="wi wi-day-cloudy"></i> Weather Station</h1>
                </div>

                <div class="row">
                    <div class="col-xs-4 col-xs-offset-4">
                        <form class="form-inline">
                            <div class="form-group">
                                <div class="input-group input-group-lg">
                                    <input type="text" class="form-control text-center" ng-model="zip" placeholder="zip...">
                                </div>
                            </div>
                                <button type="submit" class="btn btn-info btn-lg active" ng-click="getWeather()">Get!</button>
                        </form>
                    </div>
                </div>
            </div>

        </div>

        <!-- Weather Data -->
        <div class="row" >
            <div class="col-xs-12 col-xs-offset-0">
                <h1>{{data.name}}  <i class="wi {{currentIcon}}"></i></h1>
            </div>


        </div>






    </div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.min.js"></script>
<script src="weather.js"></script>
</body>
</html>